
.card .card-image {
    background-image: url("./img/movies.jpg") !important;
}
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

li {
    margin-right: 50px ! important;
}

/* Navigation botton color */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FFA000;
}

a,
a.disabled:hover,
a:disabled:hover {
    color: #FFA000;
}

.btn-warning {
    background-color: #f80 !important;
    color: #fff !important;
}

.error {
    color: red;
    margin-left: 10px;
}

.error_show {
    color: red;
    margin-left: 10px;
}

input.invalid,
textarea.invalid {
    border: 2px solid red;
}

input.valid,
textarea.valid {
    border: 2px solid green;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border: solid rgb(249, 200, 1);
}
